# This Directive will make Apache look first
# for "index_good.html" before looking for "index.html"
DirectoryIndex index.php

RewriteEngine on
RewriteRule ^movie-list/?$	index.php?action=list
RewriteRule ^movie/([A-Za-z0-9-]+)/?$	index.php?action=movie&movie=$1