# This Directive will make Apache look first
# for "index_good.html" before looking for "index.html"
DirectoryIndex index.php

RewriteEngine on
RewriteRule ^logout/?$	index.php?action=logout
RewriteRule ^([A-Za-z0-9-]+)/?$	index.php?user=$1&action=main
RewriteRule ^([A-Za-z0-9-]+)/movie-list/?$	index.php?user=$1&action=list
RewriteRule ^([A-Za-z0-9-]+)/movie/([A-Za-z0-9-]+)/?$	index.php?user=$1&action=movie&movie=$2